ion-img {
    margin: auto;
}

.back:hover {
    cursor: pointer;
}

ion-content {
    --ion-background-color: white;
}

ion-grid {
    height: 100%;
}

ion-row {
    height: 50%;
}

.texto-egypt-blue {
    text-align: center;
    color: #004DFF;
}

.registro {
    background-color: #00FF7F;
}

.boton1 {
    color: black;
    --background: #00FF7F;
    --border-radius: 1rem;
    border: 0.1rem solid black;
    border-radius: 1rem;
    margin-right: 6rem;
    margin-left: 6rem;
}

.input0 {
    border-bottom: none;
    box-shadow: none;
    margin-bottom: 1.5rem;
    color: black;
    border: 0.1rem solid black;
    --background: #b4b4b4;
    border-radius: 1rem;
    margin-right: 5rem;
    margin-left: 5rem;
}

.input1 {
    border-bottom: none;
    box-shadow: none;
    margin-bottom: 1.5rem;
    color: black;
    border: 0.1rem solid black;
    --background: #b4b4b4;
    border-radius: 1rem;
    margin-right: 5rem;
    margin-left: 5rem;
}

.input2 {
    margin-bottom: 2.5rem;
    color: black;
    border: 0.1rem solid black;
    --background: #b4b4b4;
    border-radius: 1rem;
    margin-right: 5rem;
    margin-left: 5rem;
}

form {
    padding-bottom: 5rem;
}

@media (max-height: 450px) {
    .filaForm {
        margin-top: 7rem;
    }
}
