ion-content {
    --ion-background-color: white;
}

.clases {
    --background: #004dff;
    font-size: 2rem;
}

.clasesNo {
    --background: #004dff;
    font-size: 1.1rem;
}

ion-button {
    width: 12rem;
    height: 8rem;
}

span {
    display: none;
}

.tarjeta1 {
    width: 12rem;
    height: 13rem;
}

.tarjeta2 {
    width: 12rem;
    height: 15rem;
}

.tarjetano1 {
    width: 10rem;
    height: 8rem;
}

.tarjetano2 {
    width: 10rem;
    height: 6.5rem;
}

ion-icon {
    width: 2rem;
    height: 2rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
