<ion-header class="ion-no-border" lines="none" style="background-color: #004dff; padding-bottom: 4rem;">
    <ion-col size="12" align-self-center>
        <ion-img src="../../../assets/imagotipo2coolclass.png" style="width: 70%; height: 70%; margin-left: auto; margin-right: auto; margin-top: 2rem;"></ion-img>
    </ion-col>
</ion-header>
<ion-content>
    <div style="background-color: white; border-top-left-radius: 2rem; border-top-right-radius: 2rem;">
        <ion-row>
            <ion-col size="12" align-self-center>
                <fa-icon icon="user-graduate" size="5x" text-center style="text-align: center; width:100%; display:flex; align-items:center; justify-content:center; color: #004dff; padding: 0; margin-top: 1rem;"></fa-icon>
            </ion-col>
        </ion-row>
        <ion-row class="filaForm" style="z-index: 0;">
            <ion-col>
                <form [formGroup]="editarPerfil" (ngSubmit)="actualizarAlumno()">
                    <p>Nombre</p>
                    <ion-item class="input1" style="margin-top: 2rem;" class="ion-no-border" lines="none" no-margin>
                        <ion-input type="text" formControlName="nombre" style="border-bottom: 0.1rem solid #004dff;"></ion-input>
                    </ion-item>
                    <p>Correo electrónico</p>
                    <ion-item class="input1" style="margin-top: 2rem;" class="ion-no-border" lines="none">
                        <ion-input type="text" formControlName="email" style="border-bottom: 0.1rem solid #004dff;"></ion-input>
                    </ion-item>
                    <p>Nueva contraseña</p>
                    <ion-item class="input2" style="margin-top: 2rem;" class="ion-no-border" lines="none">
                        <ion-input type="password" formControlName="nuevopassword" style="border-bottom: 0.1rem solid #004dff;"></ion-input>
                    </ion-item>
                    <p>Repite la contraseña</p>
                    <ion-item class="input2" style="margin-top: 2rem;" class="ion-no-border" lines="none">
                        <ion-input type="password" formControlName="nuevopassword2" style="border-bottom: 0.1rem solid #004dff;"></ion-input>
                    </ion-item>
                    <ion-button class="boton1" type="submit" size="large" expand="block" style="margin-left: 5rem; margin-right: 5rem; margin-top: 2rem;">Guardar cambios</ion-button>
                </form>
            </ion-col>
        </ion-row>
    </div>
</ion-content>