<ion-header class="ion-no-border" lines="none" style="background-color: #004dff; padding-bottom: 0rem;">
    <ion-col size="12" style="text-align: center;">
        <h1 *ngIf="this.asignaturaMayus != ''">{{this.asignaturaMayus}}</h1>
    </ion-col>
    <ion-img class="back" src="../../../../assets/ionicons/arrow-back-outline.svg" style="width: 2.5rem; height: 2.5rem; margin-left: 1.5rem; margin-top: 0.5rem;" *ngIf="this.asignatura != ''" [routerLink]="['/tabs-alumno/asignaturas/info-asignatura', this.asignatura]"></ion-img>
</ion-header>
<ion-content class="ion-no-border" lines="none">
    <ion-grid>
        <ion-row>
            <ion-col size="12" align-self-center>
                <fa-icon icon="chalkboard-teacher" size="5x" text-center style="text-align: center; width:100%; display:flex; align-items:center; justify-content:center; color: #004dff; padding: 0; margin-top: 1rem;"></fa-icon>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" align-self-center class="ion-no-padding">
                <h2 style="text-align: center;" *ngIf="this.nombreProfesor != ''">Profesor: {{this.nombreProfesor}}</h2>
            </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding">
            <ion-col size="12" align-self-center class="ion-no-padding">
                <h2 style="text-align: center; color: #004dff; font-weight: bold; margin-bottom: 10rem;">Mis notas</h2>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-list class="ion-no-border" lines="none" style="background-color: white; margin-top: -9rem;">
                    <ion-item style="background-color: white;">
                        <ion-select placeholder="Filtrar examen" (ionChange)="filtrarNombre($event)">
                            <ion-select-option value="Todos" style="color: black;">Todos</ion-select-option>
                            <ion-select-option value="clases" style="color: black;" *ngFor="let examen of this.listaDesplegable" [value]="examen.nombreExamen">{{examen.nombreExamen}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" align-self-center class="ion-no-padding" style="margin-top: -6rem;">
                <ion-card (click)="expandItem(examen)" *ngFor="let examen of this.examenesResueltos">
                    <ion-row>
                        <ion-col size="3">
                            <ion-icon name="chevron-down-circle-outline" style="width: 3rem; height: 3rem; margin-top: 0.2rem; margin-left: 1rem; color: #004DFF;" *ngIf="!examen.expanded"></ion-icon>
                            <ion-icon name="chevron-up-circle-outline" style="width: 3rem; height: 3rem; margin-top: 0.2rem; margin-left: 1rem; color: #004DFF;" *ngIf="examen.expanded"></ion-icon>
                        </ion-col>
                        <ion-col size="4.5">
                            <p style="color: black; font-size: 16px;"><b>Nombre</b></p>
                        </ion-col>
                        <ion-col size="4.5">
                            <p style="color: black; font-size: 16px;">{{examen.nombreExamen}}</p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <app-accordion-list expandHeight="150px" [expanded]="examen.expanded">
                                <ion-row>
                                    <ion-col size="3">

                                    </ion-col>
                                    <ion-col size="4.5">
                                        <p style="color: black; font-size: 16px; font-weight: bold;">Puntuación</p>
                                    </ion-col>
                                    <ion-col size="4.5">
                                        <p style="color: black; font-size: 16px;">{{examen.nota}}/10</p>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="3">

                                    </ion-col>
                                    <ion-col size="4.5">
                                        <p style="color: black; font-size: 16px; font-weight: bold;">Ver examen</p>
                                    </ion-col>
                                    <ion-col size="4.5">
                                        <ion-icon name="eye" style="width: 2rem; height: 2rem; margin-top: 0.55rem; margin-left: 0; color: #004DFF;" [routerLink]="['/tabs-alumno/asignaturas/info-asignatura/examenes/notas/comprobar-examen', examen.uidAlumno, examen.uid]"></ion-icon>
                                    </ion-col>
                                </ion-row>
                            </app-accordion-list>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
