<ion-header class="ion-no-border" lines="none" style="background-color: white; margin-top: 0.5rem;">
    <ion-toolbar>
        <ion-row>
            <ion-col size="12">
                <ion-title style="background-color: white; color: #004DFF; text-align: center; font-size: 1.4rem; padding-right: 3rem; padding-left: 3rem;">
                    PROFESORES
                </ion-title>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col size="12">
            <ion-list class="ion-no-border" lines="none" style="background-color: white;">
                <ion-item style="background-color: white;">
                    <ion-select placeholder="Filtrar profesor" (ionChange)="filtrarNombre($event)">
                        <ion-select-option value="2esoa" style="color: black;" value="Todos">Todos</ion-select-option>
                        <ion-select-option value="2esoa" style="color: black;" *ngFor="let profesor of this.listaDesplegable" [value]="profesor.nombre">{{profesor.nombre}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
            <ion-card (click)="expandItem(profesor)" *ngFor="let profesor of this.listaProfesores">
                <ion-row>
                    <ion-col size="3">
                        <ion-icon name="chevron-down-circle-outline" style="width: 3rem; height: 3rem; margin-top: 0.2rem; margin-left: 1rem; color: #004DFF;" *ngIf="!profesor.expanded" (click)="this.cargarClasesProfesor(this.centroeducativoService.uid, profesor.uid)"></ion-icon>
                        <ion-icon name="chevron-up-circle-outline" style="width: 3rem; height: 3rem; margin-top: 0.2rem; margin-left: 1rem; color: #004DFF;" *ngIf="profesor.expanded"></ion-icon>
                    </ion-col>
                    <ion-col size="4">
                        <p style="color: black; font-size: 16px;"><b>Profesor</b></p>
                    </ion-col>
                    <ion-col size="5">
                        <p style="color: black; font-size: 16px;">{{profesor.nombre}}</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <app-accordion-list expandHeight="5rem" [expanded]="profesor.expanded">
                            <ion-row>
                                <ion-col size="3">

                                </ion-col>
                                <ion-col size="4">
                                    <b style="color: black; font-size: 16px; ">Clases</b>
                                </ion-col>
                                <ion-col size="5">
                                    <p style="color: black; font-size: 16px; margin-top: 0rem; display: inline;" *ngIf="this.clasesProfesor != ''">{{this.clasesProfesor}}</p>
                                </ion-col>
                            </ion-row>
                        </app-accordion-list>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
