<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12" style="text-align: center;">
                <h2 style="color: #004dff;">MIS ASIGNATURAS</h2>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" style="text-align: center;">
                <ion-button class="clases" size="large" style="font-size: 1.3rem;" routerLink="/tabs-alumno/asignaturas/info-asignatura">MATEMÁTICAS</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
