<ion-header class="ion-no-border" lines="none" style="background-color: #004dff; padding-bottom: 4rem;">
    <ion-col size="12" align-self-center>
        <ion-img src="../../../assets/imagotipo2coolclass.png" style="width: 70%; height: 70%; margin-left: auto; margin-right: auto; margin-top: 2rem;"></ion-img>
    </ion-col>
</ion-header>
<ion-content class="ion-no-border" lines="none">
    <div style="background-color: white; border-top-left-radius: 2rem; border-top-right-radius: 2rem;">
        <ion-row>
            <ion-col size="12">
                <ion-icon class="fotoPerfil" text-center name="person-circle" style="width: 7rem; height: 7rem; text-align: center; width:100%; display:flex; align-items:center; justify-content:center;"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" align-self-center>
                <h2 style="text-align: center;">Vanessa Amorós Egidio</h2>
            </ion-col>
        </ion-row>
        <ion-row style="border-bottom: 0.1rem solid #73C2FB; margin-left: 2rem; margin-right: 2rem;" routerLink="/tabs-alumno/perfil/editar-perfil">
            <ion-col size="3">
                <ion-icon name="create" style="width: 3rem; height: 3rem; margin-top: 0.2rem; margin-left: 1rem; color: #004DFF;"></ion-icon>
            </ion-col>
            <ion-col size="9">
                <h2 style="text-align: left;">Editar Perfil</h2>
            </ion-col>
        </ion-row>
        <ion-row style="border-bottom: 0.1rem solid #73C2FB; margin-left: 2rem; margin-right: 2rem;" routerLink="/tabs-alumno/perfil/ajustes">
            <ion-col size="3">
                <ion-icon name="settings" style="width: 3rem; height: 3rem; margin-top: 0.41rem; margin-left: 0.9rem; color: #00ff7f;"></ion-icon>
            </ion-col>
            <ion-col size="9">
                <h2 style="text-align: left;">Ajustes</h2>
            </ion-col>
        </ion-row>
        <ion-row style="border-bottom: 0.1rem solid #73C2FB; margin-left: 2rem; margin-right: 2rem;" routerLink="/inicio-sesion">
            <ion-col size="3">
                <ion-icon name="log-out" style="width: 3rem; height: 3rem; margin-top: 0.41rem; margin-left: 1rem; color: #004dff;"></ion-icon>
            </ion-col>
            <ion-col size="9">
                <h2 style="text-align: left;">Cerrar sesión</h2>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
