<ion-header class="ion-no-border" lines="none" style="background-color: #004dff; padding-bottom: 4rem;">
    <ion-col size="12" align-self-center>
        <ion-img src="../../../assets/imagotipo2coolclass.png" style="width: 70%; height: 70%; margin-left: auto; margin-right: auto; margin-top: 2rem;"></ion-img>
    </ion-col>
</ion-header>
<ion-content>
    <div style="background-color: white; border-top-left-radius: 2rem; border-top-right-radius: 2rem;">
        <ion-row>
            <ion-col size="12" style="margin-left: 3rem;">
                <h3 style="color: #004dff">Idioma</h3>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-list class="ion-no-border" lines="none" style="background-color: white;">
                    <ion-item style="background-color: white;">
                        <ion-select placeholder="Escoger idioma">
                            <ion-select-option value="2esoa" style="color: black;">Castellano</ion-select-option>
                            <ion-select-option value="2esob" style="color: black;">Inglés</ion-select-option>
                            <ion-select-option value="2esob" style="color: black;">Valenciano</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <h3 style="color: #004dff; margin-left: 3rem;">General</h3>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-button size="large" style="display: flex; align-items: center; text-align: center; justify-content: center; margin-left: 3rem; margin-right: 3rem;">Versión 1.0</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-button size="large" style="display: flex; align-items: center; text-align: center; justify-content: center; margin-left: 3rem; margin-right: 3rem;">Términos y condiciones</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-button size="large" style="display: flex; align-items: center; text-align: center; justify-content: center; margin-left: 3rem; margin-right: 3rem;">Política de privacidad</ion-button>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
