ion-header {
    --ion-background-color: #004DFF;
    z-index: 0;
}

ion-toolbar {
    --ion-background-color: white;
}

ion-content {
    --ion-background-color: #004DFF;
}

@media (max-height: 700px) {
    div {
        padding-bottom: 6rem;
    }
}

@media (min-height: 700px) and (max-height: 800px) {
    div {
        padding-bottom: 10rem;
    }
}

@media (min-height: 800px) and (max-height: 1000px) {
    div {
        padding-bottom: 18rem;
    }
}

@media (min-height: 1000px) and (max-height: 1300px) {
    div {
        padding-bottom: 24rem;
    }
}

@media (min-height: 1300px) {
    div {
        padding-bottom: 42rem;
    }
    .fotoPerfil {
        position: fixed;
        z-index: 1;
        right: 0rem;
        top: 18.5rem;
    }
}

@media (max-height: 1000px) {
    .fotoPerfil {
        position: fixed;
        z-index: 1;
        right: 0rem;
        top: 9rem;
    }
}

@media (min-height: 1000px) and (max-height: 1300px) {
    .fotoPerfil {
        position: fixed;
        z-index: 1;
        right: 0rem;
        top: 15rem;
    }
}