ion-header {
    --ion-background-color: #004DFF;
    z-index: 0;
}

ion-toolbar {
    --ion-background-color: white;
}

ion-content {
    --ion-background-color: #004DFF;
}

@media (max-height: 700px) {
    div {
        padding-bottom: 6rem;
    }
}

@media (min-height: 700px) and (max-height: 800px) {
    div {
        padding-bottom: 5rem;
    }
}

@media (min-height: 800px) and (max-height: 1000px) {
    div {
        padding-bottom: 10rem;
    }
}

@media (min-height: 1000px) and (max-height: 1300px) {
    div {
        padding-bottom: 15rem;
    }
}

@media (min-height: 1300px) {
    div {
        padding-bottom: 35rem;
    }
}
