<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12" align-self-center>
                <h2 style="text-align: center; color: #004dff; font-weight: bold;">Mis asignaturas</h2>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" align-self-center>
                <div class="ion-padding">
                    <ion-slides pages>
                        <ion-slide *ngFor="let asignatura of this.listaAsignaturasMayus; let i =index">
                            <ion-icon name="chevron-back-outline" style="margin-right: 2rem;" (click)="moveBehind(0)"></ion-icon>
                            <ion-button class="clases" size="large" style="font-size: 1.3rem;">{{asignatura}}</ion-button>
                            <ion-icon name="chevron-forward-outline" style="margin-left: 2rem;" (click)="moveForward(0)"></ion-icon>
                        </ion-slide>
                        <ion-slide *ngIf="this.listaAsignaturasMayus.length == 0">
                            <ion-button class="clases" size="large" style="font-size: 1.3rem;">No hay asignaturas registradas por ningún profesor.</ion-button>
                        </ion-slide>
                    </ion-slides>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" align-self-center>
                <h2 style="text-align: center; color: #004dff; font-weight: bold;">Últimos exámenes</h2>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" align-self-center>
                <ion-slides pages>
                    <ion-slide *ngFor="let examen of this.examenesResueltos">
                        <ion-icon name="chevron-back-outline" style="margin-right: 2rem;" (click)="moveBehind(1)"></ion-icon>
                        <ion-card class="tarjeta1" style="background-color: #00ff7f;">
                            <ion-card-header>
                                <ion-card-title style="font-size: 1.2rem; text-align:center;">{{examen.nombreExamen}}</ion-card-title>
                                <ion-card-subtitle style="display: flex; align-items: center; justify-content: center; margin-top: 0.5rem;">
                                    <ion-icon name="book" style="margin-top: 1rem;"></ion-icon>
                                </ion-card-subtitle>
                            </ion-card-header>
                            <ion-card-content style="font-size: 1.2rem; color: black; display: flex; align-items: center; justify-content: center; margin-top: 0rem;">
                                {{examen.asignatura}}
                            </ion-card-content>
                        </ion-card>
                        <ion-icon name="chevron-forward-outline" style="margin-left: 2rem;" (click)="moveForward(1)"></ion-icon>
                    </ion-slide>
                    <ion-slide *ngIf="this.examenesResueltos.length == 0">
                        <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
                            <ion-card class="tarjetano1" style="background-color: #00ff7f;">
                                <ion-card-header>
                                    <ion-card-title style="font-size: 1.2rem; text-align:center;">No hay próximos exámenes</ion-card-title>
                                    <ion-card-subtitle style="display: flex; align-items: center; justify-content: center; margin-top: 0.5rem;">
                                    </ion-card-subtitle>
                                </ion-card-header>
                                <ion-card-content style="font-size: 1.2rem; color: black; display: flex; align-items: center; justify-content: center; margin-top: -0.5rem;">
                                </ion-card-content>
                            </ion-card>
                        </div>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" align-self-center>
                <h2 style="text-align: center; color: #004dff; font-weight: bold;">Próximos exámenes</h2>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" align-self-center>
                <ion-slides>
                    <ion-slide *ngFor="let examen of this.proximosExamenes; let i = index">
                        <ion-icon name="chevron-back-outline" style="margin-right: 2rem;" (click)="moveBehind(2)"></ion-icon>
                        <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
                            <ion-card class="tarjeta2" style="background-color: #00ff7f;">
                                <ion-card-header>
                                    <ion-card-title style="font-size: 1.2rem; text-align:center;">{{examen.nombreExamen}}</ion-card-title>
                                    <ion-card-subtitle style="display: flex; align-items: center; justify-content: center; margin-top: 0.5rem;">
                                        <ion-icon name="book" no-margin></ion-icon>
                                    </ion-card-subtitle>
                                </ion-card-header>
                                <ion-card-content style="font-size: 1.2rem; color: black; display: flex; align-items: center; justify-content: center; margin-top: -0.5rem;">
                                    {{examen.asignatura}}<br>{{this.fechas[i]}}
                                </ion-card-content>
                            </ion-card>
                        </div>
                        <ion-icon name="chevron-forward-outline" style="margin-left: 2rem;" (click)="moveForward(2)"></ion-icon>
                    </ion-slide>
                    <ion-slide *ngIf="this.proximosExamenes.length == 0">
                        <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
                            <ion-card class="tarjetano2" style="background-color: #00ff7f;">
                                <ion-card-header>
                                    <ion-card-title style="font-size: 1.2rem; text-align:center;">No hay próximos exámenes</ion-card-title>
                                    <ion-card-subtitle style="display: flex; align-items: center; justify-content: center; margin-top: 0.5rem;">
                                    </ion-card-subtitle>
                                </ion-card-header>
                                <ion-card-content style="font-size: 1.2rem; color: black; display: flex; align-items: center; justify-content: center; margin-top: -0.5rem;">
                                </ion-card-content>
                            </ion-card>
                        </div>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>