<ion-header class="ion-no-border" lines="none" style="background-color: white; margin-top: 0.5rem;">
    <ion-toolbar>
        <ion-row>
            <ion-col size="12">
                <ion-title style="background-color: white; color: #004DFF; text-align: center; font-size: 1.4rem; padding-right: 3rem; padding-left: 3rem;">
                    TEMA 5 - SISTEMAS
                </ion-title>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="fila0">
            <ion-col size="12">
                <h3 style="text-align: center;">PREGUNTA 1</h3>
            </ion-col>
        </ion-row>
        <ion-row class="fila1">
            <ion-col size="12">
                <p style="color: black; font-size: 1.1rem; text-align: center;">Resuelve la siguiente ecuación: 3x + 4 = 0</p>
            </ion-col>
        </ion-row>
        <ion-row class="fila2">
            <ion-col size="6">
                <ion-card style="background-color: #00ff7f;" (click)="mensajeConfirmacion();">
                    <ion-card-header style="text-align: center;">
                        <ion-card-title style="font-size: 1.1rem;">
                            x = 4/3
                        </ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card style="background-color: #73C2FB;">
                    <ion-card-header style="text-align: center;">
                        <ion-card-title style="font-size: 1.1rem;">
                            x = 1/3
                        </ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="fila3">
            <ion-col size="6">
                <ion-card style="background-color: #73C2FB;">
                    <ion-card-header style="text-align: center;">
                        <ion-card-title style="font-size: 1.1rem;">
                            x = -1
                        </ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card style="background-color: #00ff7f;">
                    <ion-card-header style="text-align: center;">
                        <ion-card-title style="font-size: 1.1rem;">
                            x = 3
                        </ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="fila4">
            <ion-col size="12">
                <ion-button size="large">No responder</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
