<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <h1 style="color: #004dff; text-align: center;">CREAR EXAMEN</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-button size="large" color="white" style="background-color: red; display:flex; align-items:center; justify-content:center; border-radius: 1rem;" routerLink="/tabs-profesor/clases">CANCELAR</ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button size="large" color="white" style="background-color: #004dff; text-align: center; display:flex; align-items:center; justify-content:center; border-radius: 1rem;" (click)="enviarPregunta();">GUARDAR</ion-button>
            </ion-col>
        </ion-row>
        <ion-row style="margin-top: 2rem;">
            <ion-col size="12">
                <ion-label style="margin-top: 2rem; font-weight: bold;">Título</ion-label>
                <ion-input type="text" [(ngModel)]="nombreExamen">
                </ion-input>
            </ion-col>
        </ion-row>
        <ion-row style="margin-top: 1rem;">
            <ion-col size="12">
                <ion-label style="margin-top: 2rem; font-weight: bold;">Comienzo</ion-label>
                <ion-datetime displayFormat="MMM DD, YYYY HH:mm" placeholder="Selecciona fecha de comienzo" [(ngModel)]="fechaComienzo" style="border: 0.1rem solid #004dff; border-radius: 0.5rem; margin-top: 0.5rem;"></ion-datetime>
            </ion-col>
        </ion-row>
        <ion-row style="margin-top: 1rem;">
            <ion-col size="12">
                <ion-label style="margin-top: 2rem; font-weight: bold;">Final</ion-label>
                <ion-datetime displayFormat="MMM DD, YYYY HH:mm" placeholder="Selecciona fecha de final" [(ngModel)]="fechaFinal" style="border: 0.1rem solid #004dff; border-radius: 0.5rem; margin-top: 0.5rem;"></ion-datetime>
            </ion-col>
        </ion-row>
        <ion-row style="margin-top: 2rem;">
            <ion-col size="12">
                <ion-label style="margin-top: 2rem; font-weight: bold;">Preguntas</ion-label>
            </ion-col>
        </ion-row>
        <div style="background-color: #004dff; padding-top: 1rem; padding-bottom: 2rem; border-radius: 1rem; margin-top: 1rem;">
            <ion-row style="background-color: white; margin-left: 2rem; margin-right: 2rem; margin-top: 1rem; border-radius: 1rem;" *ngFor="let preguntas of this.arrayPreguntas; let i = index;">
                <ion-col size="10" (click)="verPregunta(i)">
                    <p style="margin-bottom: 0.5rem; margin-left: 1rem;">{{preguntas}}</p>
                </ion-col>
                <ion-col size="2">
                    <ion-icon name="close-outline" style="width: 2rem; height: 2rem; color: red; margin-top: 0.5rem;" (click)="eliminarpregunta(i)"></ion-icon>
                </ion-col>
            </ion-row>
        </div>
        <ion-row style="margin-top: 1rem;">
            <ion-col size="12" style="text-align: right;">
                <ion-button size="large" color="white" style="background-color: #004dff; text-align: right; border-radius: 1rem;" (click)="anyadirPregunta();">AÑADIR PREGUNTA</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>