<ion-header class="ion-no-border" lines="none">
    <ion-img class="back" src="../../../../assets/ionicons/arrow-back-outline.svg" style="width: 3rem; height: 3rem; margin-left: 1.5rem; margin-top: 0.5rem;" routerLink="/inicio"></ion-img>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row class="filaLogo">
            <ion-col size="12" align-self-center>
                <ion-img src="../../../assets/coolclassLogo.png" style="width: 10rem; height: 10rem;"></ion-img>
                <h3 class="texto-egypt-blue">¡Bienvenido a CoolClass!</h3>
            </ion-col>
        </ion-row>
        <ion-row class="filaForm">
            <ion-col size="12" align-self-center>
                <form [formGroup]="loginForm" (ngSubmit)="login()" id="login">
                    <ion-item class="input1">
                        <ion-input type="text" placeholder="Email" formControlName="email" lines="none" required></ion-input>
                    </ion-item>
                    <ion-item class="input2">
                        <ion-input type="password" placeholder="Contraseña" formControlName="password" lines="none" required></ion-input>
                    </ion-item>
                    <!-- <fa-icon icon="chalkboard-teacher" size="5x" text-center style="text-align: center; width:100%; display:flex; align-items:center; justify-content:center; color: #004dff; padding: 0; margin-top: 1rem;"></fa-icon> -->
                    <ion-button class="boton1" type="submit" size="large" expand="block">Iniciar sesión
                        <ion-spinner name="bubbles" style="margin-left: 0.5rem; color: #004dff;" *ngIf="waiting"></ion-spinner>
                    </ion-button>
                </form>
            </ion-col>
        </ion-row>
        <ion-row class="filaRecover" align-self-center>
            <ion-col size="12">
                <p routerLink="/recuperar-password" style="color: #004dff; width: 100%; text-align: center;"><u style="width: 100%; text-align: center;">¿Has olvidado la contraseña?</u></p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>