<ion-header class="ion-no-border" lines="none" style="background-color: white;">
    <ion-toolbar>
        <ion-title style="background-color: white; color: #004DFF; margin-top: 0rem; text-align: center;">
            <b style="font-size: 26px">MIS CLASES</b>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col size="12">
            <ion-list class="ion-no-border" lines="none" style="background-color: white;">
                <ion-item style="background-color: white;">
                    <ion-select placeholder="Filtrar clase" (ionChange)="filtrarNombre($event)">
                        <ion-select-option value="Todas" style="color: black;" value="Todas">Todas</ion-select-option>
                        <ion-select-option value="clases" style="color: black;" *ngFor="let clase of this.listaDesplegable" [value]="clase.nombre">{{clase.nombre}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
            <ion-card (click)="expandItem(clase)" *ngFor="let clase of this.listaClasesProfesorObjeto">
                <ion-row>
                    <ion-col size="3">
                        <ion-icon name="chevron-down-circle-outline" style="width: 3rem; height: 3rem; margin-top: 0.2rem; margin-left: 1rem; color: #004DFF;" *ngIf="!clase.expanded"></ion-icon>
                        <ion-icon name="chevron-up-circle-outline" style="width: 3rem; height: 3rem; margin-top: 0.2rem; margin-left: 1rem; color: #004DFF;" *ngIf="clase.expanded"></ion-icon>
                    </ion-col>
                    <ion-col size="9">
                        <ion-card-header>
                            <ion-card-title style="color: black; font-size: 24px;" *ngIf="clase.asignatura">{{clase.nombre}} ({{clase.asignatura}})</ion-card-title>
                            <ion-card-title style="color: black; font-size: 24px;" *ngIf="!clase.asignatura">{{clase.nombre}} (Sin asignatura)</ion-card-title>
                        </ion-card-header>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <ion-card-content>
                            <app-accordion-list expandHeight="20rem" [expanded]="clase.expanded">
                                <ion-row *ngIf="!clase.asignatura">
                                    <ion-col size="3 ">

                                    </ion-col>
                                    <ion-col size="4.5 ">
                                        <h2 style="color: black ">Escoge una asignatura</h2>
                                    </ion-col>
                                    <ion-col size="4.5 ">
                                        <ion-icon name="book" style="width: 2rem; height: 2rem; margin-top: 0rem;  color: #004DFF;" [routerLink]="['/tabs-profesor/perfil/configuracion-clases']"></ion-icon>
                                    </ion-col>
                                </ion-row>
                                <ion-row *ngIf="clase.asignatura">
                                    <ion-col size="3">

                                    </ion-col>
                                    <ion-col size="4.5">
                                        <h2 style="color: black">Mis alumnos</h2>
                                    </ion-col>
                                    <ion-col size="4.5">
                                        <ion-icon name="accessibility" style="width: 2rem; height: 2rem; margin-top: 0rem;  color: #004DFF;" [routerLink]="['/tabs-profesor/clases/alumnos', clase.uidClase]"></ion-icon>
                                    </ion-col>
                                </ion-row>
                                <ion-row *ngIf="clase.asignatura">
                                    <ion-col size="3 ">

                                    </ion-col>
                                    <ion-col size="4.5 ">
                                        <h2 style="color: black ">Próximos exámenes</h2>
                                    </ion-col>
                                    <ion-col size="4.5 ">
                                        <ion-icon name="book" style="width: 2rem; height: 2rem; margin-top: 0rem;  color: #004DFF;" [routerLink]="['/tabs-profesor/clases/proximos-examenes', clase.uidClase, clase.asignatura]"></ion-icon>
                                    </ion-col>
                                </ion-row>
                                <ion-row *ngIf="clase.asignatura">
                                    <ion-col size="3 ">

                                    </ion-col>
                                    <ion-col size="4.5 ">
                                        <h2 style="color: black ">Exámenes realizados</h2>
                                    </ion-col>
                                    <ion-col size="4.5 ">
                                        <ion-icon name="book" style="width: 2rem; height: 2rem; margin-top: 0rem;  color: #004DFF;" [routerLink]="['/tabs-profesor/clases/examenes-realizados', clase.uidClase, clase.asignatura]"></ion-icon>
                                    </ion-col>
                                </ion-row>
                                <ion-row *ngIf="clase.asignatura">
                                    <ion-col size="3 ">

                                    </ion-col>
                                    <ion-col size="4.5 ">
                                        <h2 style="color: black ">Crear examen</h2>
                                    </ion-col>
                                    <ion-col size="4.5 ">
                                        <ion-icon class="anyadir" name="add-circle" style="width: 2rem; height: 2rem; color: #004DFF;" [routerLink]="['/tabs-profesor/clases/crear-examen', clase.uidClase, clase.asignatura]"></ion-icon>
                                    </ion-col>
                                </ion-row>
                            </app-accordion-list>
                        </ion-card-content>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>