ion-header {
    --ion-background-color: #004DFF;
    z-index: 0;
}

ion-toolbar {
    --ion-background-color: white;
}

ion-content {
    --ion-background-color: #004DFF;
}

.clases {
    --background: #004dff;
    font-size: 2rem;
}

ion-button {
    width: 12rem;
    height: 8rem;
}

span {
    display: none;
}

.tarjeta1 {
    width: 12rem;
    height: 12.5rem;
}

.tarjeta2 {
    width: 12rem;
    height: 11.5rem;
}

.tarjetano1 {
    width: 10rem;
    height: 8rem;
}

.tarjetano2 {
    width: 10rem;
    height: 8rem;
}

ion-icon {
    width: 2rem;
    height: 2rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-height: 700px) {
    .contenido {
        padding-bottom: 5rem;
    }
}

@media (min-height: 700px) and (max-height: 800px) {
    .contenido {
        padding-bottom: 6rem;
    }
}

@media (min-height: 800px) and (max-height: 1000px) {
    .contenido {
        padding-bottom: 5rem;
    }
}

@media (min-height: 1000px) and (max-height: 1300px) {
    .contenido {
        padding-bottom: 16rem;
    }
}

@media (min-height: 1300px) {
    .contenido {
        padding-bottom: 38rem;
    }
    .fotoPerfil {
        position: fixed;
        z-index: 10;
        right: 0rem;
        top: 4rem;
    }
}

@media (max-height: 1300px) {
    .fotoPerfil {
        position: fixed;
        z-index: 10;
        right: 0rem;
        top: 4rem;
    }
}