<ion-header class="ion-no-border" lines="none" style="background-color: #004dff; padding-bottom: 0rem;">
    <ion-col size="12" style="text-align: center;">
        <h1>{{this.asignaturaMayus}}</h1>
    </ion-col>
</ion-header>
<ion-content class="ion-no-border" lines="none">
    <div class="contenido" style="background-color: white; border-top-left-radius: 2rem; border-top-right-radius: 2rem;">
        <ion-grid>
            <ion-row>
                <ion-col size="12" align-self-center>
                    <fa-icon icon="chalkboard-teacher" size="5x" text-center style="text-align: center; width:100%; display:flex; align-items:center; justify-content:center; color: #004dff; padding: 0; margin-top: 1rem;"></fa-icon>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" align-self-center>
                    <h2 style="text-align: center;" *ngIf="this.nombreProfesor != ''">Profesor: {{this.nombreProfesor}}</h2>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" align-self-center *ngIf="this.filtroAsignatura != '' && this.uidProfesor != ''">
                    <h2 style="text-align: center;"><a style="background-color: #004dff; padding: 0.75rem; color: white; font-weight: bold; text-decoration: none; border-radius: 1rem;" [routerLink]="['/tabs-alumno/asignaturas/info-asignatura', this.uidProfesor, this.filtroAsignatura, 'examenes']">Próximos exámenes</a></h2>
                    <!-- <ion-button size="small" style="color: #004dff">Próximos exámenes</ion-button> -->
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" align-self-center>
                    <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav>
                        <ion-slide *ngFor="let examen of this.examenes; let i = index">
                            <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
                                <!-- <ion-icon name="chevron-back-outline" (click)="moveBehind(0)"></ion-icon> -->
                                <ion-card class="tarjeta1" style="background-color: #00ff7f;" [routerLink]="['/tabs-alumno/asignaturas/info-asignatura', examen.uidProfesor, examen.asignatura, examen.nombreExamen, 'examenes']">
                                    <ion-card-header>
                                        <ion-card-title style="font-size: 1.2rem; text-align:center;">{{examen.nombreExamen}}</ion-card-title>
                                        <ion-card-subtitle style="display: flex; align-items: center; justify-content: center; margin-top: 0.5rem;">
                                            <ion-icon name="book" no-margin></ion-icon>
                                        </ion-card-subtitle>
                                    </ion-card-header>
                                    <ion-card-content style="font-size: 1.2rem; color: black; display: flex; align-items: center; justify-content: center; margin-top: -0.5rem;">
                                        {{examen.asignatura}}<br>{{this.fechas[i]}}
                                    </ion-card-content>
                                </ion-card>
                                <!-- <ion-icon name="chevron-forward-outline" (click)="moveForward(0)"></ion-icon> -->
                            </div>
                        </ion-slide>
                        <ion-slide *ngIf="this.examenes.length == 0">
                            <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
                                <ion-card class="tarjetano1" style="background-color: #00ff7f;">
                                    <ion-card-header>
                                        <ion-card-title style="font-size: 1.2rem; text-align:center;">No hay próximos exámenes</ion-card-title>
                                        <ion-card-subtitle style="display: flex; align-items: center; justify-content: center; margin-top: 0.5rem;">
                                        </ion-card-subtitle>
                                    </ion-card-header>
                                    <ion-card-content style="font-size: 1.2rem; color: black; display: flex; align-items: center; justify-content: center; margin-top: -0.5rem;">
                                    </ion-card-content>
                                </ion-card>
                            </div>
                        </ion-slide>
                    </ion-slides>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" align-self-center *ngIf="this.uidProfesor != ''">
                    <h2 style="text-align: center;"><a style="background-color: #004dff; padding: 0.75rem; color: white; font-weight: bold; text-decoration: none; border-radius: 1rem;" [routerLink]="['/tabs-alumno/asignaturas/info-asignatura/examenes', this.uidProfesor, 'notas', this.filtroAsignatura]">Mis notas</a></h2>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" align-self-center>
                    <ion-slides pager="true" [options]="slideOptsTwo" #slideWithNav2>
                        <ion-slide *ngFor="let examen of this.examenesResueltos">
                            <div *ngIf="this.examenesResueltos.length > 0" style="height: 100%; display: flex; align-items: center; justify-content: center;">
                                <!-- <ion-icon name="chevron-back-outline" (click)="moveBehind(1)"></ion-icon> -->
                                <ion-card class="tarjeta2" style="background-color: #00ff7f;" *ngIf="this.filtroAsignatura != ''" [routerLink]="['/tabs-alumno/asignaturas/info-asignatura/examenes', examen.uidProfesor, 'notas', examen.nombreExamen, this.filtroAsignatura]">
                                    <ion-card-header>
                                        <ion-card-title style="font-size: 1.2rem; text-align:center;">{{examen.nombreExamen}}</ion-card-title>
                                        <ion-card-subtitle style="display: flex; align-items: center; justify-content: center; margin-top: 0.5rem;">
                                            <ion-icon name="book" no-margin></ion-icon>
                                        </ion-card-subtitle>
                                    </ion-card-header>
                                    <ion-card-content style="font-size: 1.2rem; color: black; display: flex; align-items: center; justify-content: center; margin-top: -0.5rem;">
                                        {{examen.asignatura}}<br>Nota: {{examen.nota}}
                                    </ion-card-content>
                                </ion-card>
                                <!-- <ion-icon name="chevron-forward-outline" (click)="moveForward(1)"></ion-icon> -->
                            </div>
                        </ion-slide>
                        <ion-slide *ngIf="this.examenesResueltos.length == 0">
                            <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
                                <ion-card class="tarjetano2" style="background-color: #00ff7f;">
                                    <ion-card-header>
                                        <ion-card-title style="font-size: 1.2rem; text-align:center;">No hay notas registradas en esta asignatura.</ion-card-title>
                                        <ion-card-subtitle style="display: flex; align-items: center; justify-content: center; margin-top: 0.5rem;">
                                        </ion-card-subtitle>
                                    </ion-card-header>
                                    <ion-card-content style="font-size: 1.2rem; color: black; display: flex; align-items: center; justify-content: center; margin-top: -0.5rem;">
                                    </ion-card-content>
                                </ion-card>
                            </div>
                        </ion-slide>
                    </ion-slides>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>