<ion-content>
    <ion-grid>
        <ion-row class="filaLogo">
            <ion-col size="12" align-self-center>
                <ion-img src="../../../assets/coolclassLogo.png" style="width: 10rem; height: 10rem;"></ion-img>
                <h3 class="texto-egypt-blue">¡Bienvenido a CoolClass!</h3>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <h3 style="text-align: center;">Escoja sus clases</h3>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <h4 style="text-align: center; margin-left: 1rem; margin-right: 1rem;">Podrá cambiar toda su configuración en el apartado mi perfil</h4>
            </ion-col>
        </ion-row>
        <ion-row style="background-color: #00ff7f; border-radius: 1rem; margin-left: 2rem; margin-right: 2rem; margin-top: 1rem;">
            <ion-col size="6">
                <p style="text-align: left; margin-left: 1rem; font-size: 1rem;">2 ESO A</p>
            </ion-col>
            <ion-col size="6">
                <div class="item1" class="ion-no-border" lines="none">
                    <ion-icon name="close-outline" style="width: 2rem; height: 2rem; color: red; margin-left: 70%; margin-top: 6%;"></ion-icon>
                </div>
            </ion-col>
        </ion-row>
        <ion-row style="background-color: white;border-top: 1px solid #004dff; margin-top: 1rem; margin-left: 1rem; margin-right: 1rem;">
            <ion-item style="background-color: white !important; border-radius: 1rem; margin-top: 1rem; margin-left: 1.1rem;">
                <span class="text">3ESO A</span>
                <ion-icon name="add-outline" style="color: white"></ion-icon>
            </ion-item>
            <ion-item style="background-color: white !important; border-radius: 1rem; margin-top: 1rem; margin-left: 1.1rem;">
                <span class="text">3ESO B</span>
                <ion-icon name="add-outline" style="color: white"></ion-icon>
            </ion-item>
            <ion-item style="background-color: white !important; border-radius: 1rem; margin-top: 1rem; margin-left: 1.1rem;">
                <span class="text">3ESO C</span>
                <ion-icon name="add-outline" style="color: white"></ion-icon>
            </ion-item>
        </ion-row>
        <ion-row style="margin-top: 2rem;">
            <ion-col size="12" style="border-radius: 1rem;">
                <ion-button size="large">Guardar</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>