ion-img {
    margin: auto;
}

.back:hover {
    cursor: pointer;
}

ion-content {
    --ion-background-color: white;
}

ion-grid {
    height: 100%;
}

// ion-row {
//     height: 33.33%;
// }
.texto-egypt-blue {
    text-align: center;
    color: #004DFF;
}

.registro {
    background-color: #00FF7F;
}

@media (min-width: 350px) {
    .boton1 {
        color: black;
        --background: #00FF7F;
        --border-radius: 1rem;
        border: 0.1rem solid black;
        border-radius: 1rem;
        margin: auto;
        width: 60%;
    }
}

@media (max-width: 350px) {
    .boton1 {
        color: black;
        --background: #00FF7F;
        --border-radius: 1rem;
        border: 0.1rem solid black;
        border-radius: 1rem;
        margin: auto;
        width: 70%;
    }
}

.input1 {
    border-bottom: none;
    box-shadow: none;
    margin-bottom: 2rem;
    color: black;
    border: 0.1rem solid black;
    --background: #b4b4b4;
    border-radius: 1rem;
    margin-right: 5rem;
    margin-left: 5rem;
}

.input2 {
    margin-bottom: 2.5rem;
    color: black;
    border: 0.1rem solid black;
    --background: #b4b4b4;
    border-radius: 1rem;
    margin-right: 5rem;
    margin-left: 5rem;
}

form {
    padding-bottom: 5rem;
}

@media (max-height: 450px) {
    .filaForm {
        margin-top: 3rem;
    }
}

@media (min-height: 600px) and (max-height: 700px) {
    .filaLogo {
        height: 70%;
    }
    .filaForm {
        height: 30%;
    }
}

@media (max-height: 600px) {
    .filaLogo {
        height: 70%;
    }
    .filaForm {
        height: 30%;
    }
}

@media (min-height: 700px) {
    .filaLogo {
        height: 70%;
    }
    .filaForm {
        height: 30%;
    }
}