<ion-header class="ion-no-border" lines="none" style="background-color: #004dff; padding-bottom: 4rem;">
    <ion-col size="12" align-self-center>
        <ion-img src="../../../assets/imagotipo2coolclass.png" style="width: 70%; height: 70%; margin-left: auto; margin-right: auto; margin-top: 2rem;"></ion-img>
    </ion-col>
</ion-header>
<ion-content>
    <div style="background-color: white; border-top-left-radius: 2rem; border-top-right-radius: 2rem;">
        <ion-row>
            <ion-col size="12" align-self-center>
                <fa-icon icon="school" size="5x" text-center style="text-align: center; width:100%; display:flex; align-items:center; justify-content:center; color: #004dff; padding: 0; margin-top: 1rem;"></fa-icon>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" align-self-center>
                <h2 style="text-align: center;">IES Antonio Serna Serna</h2>
            </ion-col>
        </ion-row>
        <ion-row style="z-index: 0; margin-left: 2rem;">
            <ion-col size="12">
                <h3 style="color: #004dff">Código profesor</h3>
            </ion-col>
        </ion-row>
        <ion-row style="z-index: 0; border-bottom: 1px solid #004dff; border-top: 1px solid #004dff;  margin-left: 2rem; margin-right: 2rem;">
            <ion-col size="6" style="margin-top: 0.25rem;">
                <h4 style="text-align: center; margin-right: 1rem;" id="codigoProfesor"></h4>
            </ion-col>
            <ion-col size="6">
                <ion-button class="generarCodigo" size="medium" color="success" expand="full" style="margin-top: 0.7rem; margin-left: 0rem;" (click)="generarCodigoProfesor()">
                    <p style="color: black; text-align: center;">Generar nuevo</p>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row style="z-index: 0; margin-left: 2rem;">
            <ion-col size="12">
                <h3 style="color: #004dff">Código alumno</h3>
            </ion-col>
        </ion-row>
        <ion-row style="z-index: 0; border-bottom: 1px solid #004dff; border-top: 1px solid #004dff;  margin-left: 2rem; margin-right: 2rem;">
            <ion-col size="6" style="margin-top: 0.25rem;">
                <h4 style="text-align: center; margin-right: 1rem;" id="codigoAlumno"></h4>
            </ion-col>
            <ion-col size="6">
                <ion-button class="generarCodigo" size="medium" color="success" expand="full" style="margin-top: 0.7rem; margin-left: 0rem;" (click)="generarCodigoAlumno()">
                    <p style="color: black; text-align: center;">Generar nuevo</p>
                </ion-button>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
