<ion-content>
    <ion-grid>
        <ion-row class="aviso">
            <ion-col size="12" align-self-center>
                <p style="color: black; text-align: center; margin-left: 1rem; margin-right: 1rem"><b>NOTA</b>: Los códigos de profesor y de alumno necesarios para poder registrarlos en el centro los podrás encontrar en el apartado mi perfil. Pulse <a routerLink="/tabs-centro-educativo/perfil/codigos">aquí</a> para ir.</p>
            </ion-col>
        </ion-row>
        <ion-row class="tarjetasCuentas1" routerLink="/tabs-centro-educativo/clases">
            <ion-col size="12" align-self-center>
                <span class="cuentas" style="text-align: center;"><b>CLASES</b></span>
            </ion-col>
        </ion-row>
        <ion-row class="tarjetasCuentas2" routerLink="/tabs-centro-educativo/profesores">
            <ion-col size="12" align-self-center>
                <span class="cuentas" style="text-align: center;"><b>PROFESORES</b></span>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
